/*-------------------wrapper-------------------------------------*/

.wrapper {
  margin: 0 auto;
}

/*-------------------Menu-------------------------------------*/

@font-face {
  font-family: "TuskerGrotesk";
  src: url("../fonts/TuskerGrotesk-5500Medium.woff2");
}

body {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f1e8;
}

header {
  display: inline;
  width: 100%;
  height: 73px;
  background-color: rgb(80, 214, 123);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 9999;
}

.menu li {
  display: none;
  margin: 10px;
  align-items: center;
}

.logo{
  height: 73px;
  width: 150px;
}

.logo img {
  height: 41px;
  width: 100%;
  padding: 16px 9px; /*distância entre o conteúdo e a borda superior | direita | inferior | esquerda */
}

.list {
  float: left;
}

.menu ul {
  display: none;
  align-items: center;
  color: rgb(240, 241, 232);
  list-style: none;
  justify-content: center;
  tab-size: 4;
  text-size-adjust: 100%;
  font-weight: 500;
  line-height: 20px;
  float: left;
  margin-top: 20px;
}

li a {
  text-decoration: none;
  color: rgb(240, 241, 232);
  font-size: 14px;
  letter-spacing: 0.025em;
  max-height: 38px;
  display: inline-block;
  line-height: 20px;
  tab-size: 4;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
}

li a:hover {
  text-decoration: none;
  color: rgb(204, 204, 204);
  opacity: 0.75;
  transition-property: opacity;
  transition-duration: 150ms;
}

.bt_baixeoapp {
  display: none;
}

.bt_elementos {
  /*BOTÃO DE MENU PARA A VERSÃO MOBILE*/
  display: flex;
  position: absolute;
  right: 28px;
  top:19px;
}

.bt_elementos i {
  color: rgb(240, 241, 232);
  text-decoration: inherit;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  margin:0;
  font-size:30px;
}

/*-------------------Principal-------------------------------------*/

.principal {
  margin-top: 78px;
  z-index: -2;
}

.texto h1 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  margin:0;
  font-weight: inherit;
  margin-bottom: 0;
  display: block;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
}
.texto{
  margin:0;
  padding: 0;
}

.image_iza {
  margin:0;
  position: absolute;
  clear: both;
  padding-top: 88px;
  z-index: -1;
}

.image_iza img{
  height: auto;
  width: 100%;
}

.texto2{
  display: flex;
  width: 100%;
  height: auto;
  margin:0;
  align-items: center;
  justify-content: center;
}

.texto h2 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  width: auto;
  float:left;
  justify-content: center;
}

.espaço{
  margin:0;
  padding:0;
  padding-left: 4px;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  text-transform: uppercase;
  padding-top:200px;
  padding-left:0;
  padding-bottom: 0;
  margin:0;
}

.image_cdi {
  padding:0;
  padding-top:4px;
  margin:auto;
  margin-top: 0;
  max-width: 70px;
  max-height: 250px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  z-index: -1;
}
.btn_saibamais {
  display: none;
}

.btn_baixeeaproveite{
  height: 46px;
  width: 196px;
  position: absolute;
  justify-content: center;
  background-color: rgb(66, 109, 255);
  border-radius: 9999px;
  margin-top:12px;
}

.btn_baixeeaproveite a {
  color: #fff;
  text-decoration: inherit;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 10px;
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  display: inline-block;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  letter-spacing: 0.9px;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
  font-weight: inherit;
  tab-size: 4;
  padding-left: 24px ;
  padding-top: 6px ;
}

footer {
  background-color: rgb(80, 214, 123);
  bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 50px;
  justify-content: center;
  left: 0px;
  line-height: 24px;
  padding: 0;
  position: fixed;
  right: 0px;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 100%
  z-index: 20;
  height: 70px;
}
