body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  width: 100%;
  height: 78px;
  background-color: rgb(80, 214, 123);
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.menu {
  display: flex;
}

.menu ul li {
  display: inline-block;
  margin: 10px;
}

.logo img {
  height: 40px;
  width: 120px;
  padding: 19px 24px; /*distância entre o conteúdo e a borda superior | direita | inferior | esquerda */
}

ul {
  align-items: float;
  color: rgb(240, 241, 232);
  list-style: none;
  display: block;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: rgb(240, 241, 232);
  font-size: 14px;
}

li a:hover {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

/*bloco para os botões de login*/
.Login {
  display: flex;
  align-items: center;
  height: 100%;
  width: 350px;
}

/*botão de login*/
.bt_login {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 109, 255);
  margin-top: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  display: inline-block;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.bt_login a {
  color: #fff;
  text-decoration: inherit;
  font-size: 18px;
  font-weight: bold;
}

.bt_login a:hover {
  text-decoration: underline;
}
