/*-------------------wrapper-------------------------------------*/

.wrapper {
  margin: 0 auto;
}

/*-------------------Menu-------------------------------------*/

@font-face {
  font-family: "TuskerGrotesk";
  src: url("../fonts/TuskerGrotesk-5500Medium.woff2");
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f1e8;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 78px;
  background-color: rgb(17, 199, 111);
  top: 0;
}

.list {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-right: 20%;
  width: 60%;
}

.menu li {
  list-style: none;
}

.logo {
  display: flex;
  margin-left: 3%;
  margin-top: 18px;
}

.logo img {
  height: 40px;
  width: 120px;
}

.menu ul {
  display: flex;
  color: rgb(240, 241, 232);
  tab-size: 4;
  text-size-adjust: 100%;
  font-weight: 500;
  margin-top: 30px;
  padding: 0;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: rgb(240, 241, 232);
  font-size: 14px;
  letter-spacing: 0.025em;
  max-height: 38px;
  line-height: 20px;
  tab-size: 4;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

li a:hover {
  text-decoration: none;
  color: rgb(204, 204, 204);
  opacity: 0.75;
  transition-property: opacity;
  transition-duration: 150ms;
}

.bt_baixeoapp {
  display: flex;
  position: absolute;
  right: 10px;
  background-color: rgb(66, 109, 255);
  margin-top: 15px;
  margin-right: 1%;
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: inherit;
  font-size: 18px;
}

.bt_baixeoapp a,
.btn_saibamais a {
  color: #fff;
  text-decoration: inherit;
}

.bt_baixeoapp:hover,
.btn_saibamais:hover {
  background-color: rgba(54, 90, 214);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.bt_elementos {
  display: none;
}

/*-------------------Principal-------------------------------------*/

.principal {
  margin-top: 78px;
  z-index: -2;
  position: relative;
}

.texto h1 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  font-size: 3.75rem;
  line-height: 1;
  margin-top: 0px;
  margin-left: 3%;
  padding-top: 48px;
  font-weight: inherit;
  margin-bottom: 0;
  display: block;
}

.image_iza {
  margin-left: 40%;
  position: absolute;
  clear: both;
  padding-top: 20px;
  z-index: -1;
}

.texto h2 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  font-size: 3rem;
  line-height: 1;
  margin-top: 0;
  margin-left: 3%;
  padding-top: 0;
  font-weight: inherit;
  line-height: 100%;
  margin-bottom: 0;
}
p {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: 3%;
  font-weight: inherit;
  margin-top: 24px;
  margin-bottom: 0;
}

.image_cdi {
  padding-top: 4px;
  height: 75px;
  width: 275px;
  margin-left: 3%;
  padding-bottom: 0px;
  max-width: 70px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.info {
  z-index: -1;
}

.posicaobotao {
  margin: 0;
  margin-top: 124px;
  padding-bottom: 20px;
  width: 100%;
  height: 150px;
  display: flex;
}

.btn_saibamais {
  bottom: 0;
  margin-left: 3%;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 36px;
  height: 36px;
  width: 155px;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(66, 109, 255);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  display: inline-block;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  letter-spacing: 1.5px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 30px;
  line-height: 36px;
  font-weight: inherit;
  tab-size: 4;
}

footer {
  display: none;
}
