/*-------------------wrapper-------------------------------------*/

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
}

/*-------------------Menu-------------------------------------*/

@font-face {
  font-family: "TuskerGrotesk";
  src: url("../fonts/TuskerGrotesk-5500Medium.woff2");
}

body {
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f1e8;
}

header {
  position: fixed;
  width: 100%;
  height: 78px;
  background-color: rgb(17, 199, 111);
  margin: 0;
}

.list {
  margin: 0;
  position: relative;
  padding-left: 8%;
  padding-top: 15px;
}

li {
  list-style: none;
}

.logo {
  padding-top: 15px;

  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  padding-left: 3%;
}

.logo img {
  height: 100%;
  width: 100%;
}

.menu ul {
  display: flex;
  color: rgb(240, 241, 232);
  tab-size: 4;
  text-size-adjust: 100%;
  font-weight: 500;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: rgb(240, 241, 232);
  font-size: 14px;
  letter-spacing: 0.025em;
  max-height: 38px;
  line-height: 20px;
  tab-size: 4;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

li a:hover {
  text-decoration: none;
  color: rgb(204, 204, 204);
  opacity: 0.75;
  transition-property: opacity;
  transition-duration: 150ms;
}

.botao_header {
  display: flex;
  padding-left: 10%;
  padding-top: 15px;
  align-items: center;
  text-align: center;
}
.bt_baixeoapp {
  background-color: rgb(66, 109, 255);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: inherit;
  font-size: 18px;
}

.bt_baixeoapp a,
.btn_saibamais a {
  color: #fff;
  text-decoration: inherit;
}

.bt_baixeoapp:hover,
.btn_saibamais:hover {
  background-color: rgba(54, 90, 214);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.bt_elementos {
  display: none;
}

/*-------------------Principal-------------------------------------*/

.principal {
  margin-top: 78px;
  z-index: -2;
}

.texto,
texto2,
espaco {
  margin-right: auto;
  margin-left: 10%;
}

.texto h1 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  margin-left: 3%;
  color: #223322;
  font-size: 3.75rem;
  line-height: 1;
  margin-top: 0;
  padding-top: 48px;
  font-weight: inherit;
  margin-bottom: 0;
  display: block;
}

.image_iza {
  padding-left: 500px;
  position: absolute;
  clear: both;
  padding-top: 20px;
}

.texto h2 {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  font-size: 3rem;
  line-height: 1;
  margin-top: 5px;
  margin-left: 3%;
  padding-top: 0;
  font-weight: inherit;
  line-height: 100%;
  margin-bottom: 0;
  z-index: 0;
}
p {
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  color: #223322;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-left: 3%;
  font-weight: inherit;
  margin-top: 24px;
  margin-bottom: 0;
}

.image_cdi {
  padding-top: 4px;
  height: 75px;
  width: 275px;
  padding-bottom: 0px;
  /* max-width: 70px;
  max-height: 250px;*/
  margin-right: auto;
  margin-left: 12.8%;
}

.info {
  z-index: -1;
}

.posicaobotao {
  margin-top: 124px;
  padding-bottom: 20px;
  padding-left: 12.8%;
  width: auto;
  height: 150px;
  margin-right: auto;
}

.btn_saibamais {
  bottom: 0;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 36px;
  height: 36px;
  width: 155px;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(66, 109, 255);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  display: inline-block;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  letter-spacing: 1.5px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 30px;
  line-height: 36px;
  font-weight: inherit;
  tab-size: 4;
}

footer {
  display: none;
}

/*-------------------Busca-------------------------------------*/
.busca {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column;
}

.pesquisa,
.result_busca {
  padding: 0;
}

.search {
  font-family: "SF Pro Text Regular", sans-serif;
  text-decoration: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  visibility: visible;
  width: 300px;
  height: 30px;
  text-align: center;
}

.search:focus {
  outline: 0;
}

.search:placeholder {
  color: #c7c6c6;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.button_api {
  margin-top: 10px;
  background-color: rgb(151, 155, 165);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: inherit;
  font-size: 15px;
  border: none;
}

.button_api:hover {
  background-color: rgb(180, 180, 180);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.busca a {
  font-size: 18px;
  color: black;
}

/*-------------------Login-------------------------------------*/

.login,
.cadastro {
  display: block;
  width: 100%;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.sessao {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  width: 700px;
  margin: 0 auto;
  padding-left: 15%;
}

.field {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(109, 109, 109);
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 300px;
  background: transparent;
  height: 62px;
  padding: 0px;
  padding-left: 20px;
  margin: 0;
  border-radius: 12px;
  text-align: left;
}

.input_form:focus,
.field:focus {
  outline: 0;
  border: 2px solid rgb(17, 199, 111);

  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

  -webkit-transform: scaleX(1) scaleY(1.1);
  -moz-transform: scaleX(1) scaleY(1.1);
  -ms-transform: scaleX(1) scaleY(1.1);
  -o-transform: scaleX(1) scaleY(1.1);
  transform: scaleX(1) scaleY(1.1);
}

.toggleFocusRed {
  border: 2px solid red !important;
}

.link_cadastro {
  padding: 0;
  margin: 0;
}

.logar {
  display: flex;
  width: auto;
  flex-direction: column;
  padding: 0;
  text-align: center;
  align-items: center;
}
.cadastrar {
  display: flex;
  width: auto;
  flex-direction: column;
  padding: 0;
  text-align: center;
  align-items: center;
}

.logar input,
.cadastrar input {
  background-color: rgb(66, 109, 255);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: inherit;
  font-size: 18px;
  color: #fff;
  text-decoration: inherit;
  border: none;
  width: 200px;
}

.logar a {
  color: black;
  padding-top: 10px;
}

.btn_login:hover,
.btn_cadastro:hover {
  background-color: rgba(54, 90, 214);
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.dialog {
  width: 50%;
  height: auto;
  display: none;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
}

.dialog.show {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.btn_OK {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  left: 40%;
  margin: 0px;
  margin-bottom: 10px;
  height: auto;

  background-color: rgb(66, 109, 255);
  text-transform: uppercase;
  font-family: TuskerGrotesk, Arial, Helvetica, sans-serif;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
  padding: 4px;
  line-height: 24px;
  font-weight: inherit;
  font-size: 16px;
  color: #fff;
  text-decoration: inherit;
  border: none;
}

.mensagem {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.verificacao {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #223322;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.form_login {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.form {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inputs {
  margin: 0;
  padding: 0;
}
